/* Universal Styles */

body {
  margin: 0;
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
}

a {
  color: seashell;
}

nav span {
  display: inline-block;
  padding: 20px 10px;
}

h2,
h3,
h4 {
  margin: 10px auto;
}

/* Header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  height: 69px;
  width: 100%;
  border-bottom: solid 1px seashell;
  position: fixed;
  z-index: 1;
}

.logo img {
  color: seashell;
  height: 50px;
  padding-left: 10px;
}

header nav {
  padding-right: 10px;
}

/* Main Content */

.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 70px;
}

/* Mission Section */

#mission {
  background-image: url("../images/mission-background.jpg");
  height: 700px;
  width: 1200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.mission-text {
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Featured Tea Section */

#featured-tea {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 1000px;
}

.teas {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.tea img {
  height: 200px;
  width: 300px;
  margin: 0 15px;
}

/* Locations Section */

#locations {
  background-image: url("../images/locations-background.jpg");
  height: 500px;
  width: 1200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.location-blocks {
  display: flex;
  justify-content: space-between;
  width: 980px;
  margin-top: 15px;
}

.location {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: black;
  opacity: 1;
  width: 300px;
}

.location h3,
          h4 {
            margin: 20px auto 25px auto;
          }

/* Footer */

.copyright {
  text-align: left;
  padding-left: 20px;
}
